body {
 display: flexbox;
 margin: 0;
 height: 100%;
 background-image: linear-gradient(to top, #9BA4B5 0%, #97d9e1 100%);
 background-color: #8EC5FC;
}


header {
 width: 100%;
 height: 80px;
}

header .logoPrinci {
 height: 63%;
 margin: 60px 0px 0px 80px;
}

header .logoInicio {
 position: absolute;
 top: 40px;
 right: 150px;
 width: 50px;
}



header .titulo {
 text-align: center;
 margin-top: -60px;
 font-size: 38px;
 text-shadow: 5px 2px 4px grey;
}

section {
 position: static;
}

.sesiones {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 min-height: 100vh;
}

.ejercicio {
 border-radius: 20px;
 margin-left: 10px;
 height: 400px;
 background-color: #b10e0e;
 background-image: url(/img/Ejercicio.jpg);
 flex: 1;
 transition: .3s all ease;
}



.actividades {
 border-radius: 20px;
 align-items: center;
 margin-left: 10px;
 height: 400px;
 background-color: #7e3a3a;
 background-image: url(/img/Actividades.png);
 flex: 1;
 transition: .3s all ease;
}

.alimentacion {
 border-radius: 20px;
 margin-left: 10px;
 height: 400px;
 background-color: #0ea58c;
 background-image: url(/img/Alimentacion.jpg);
 flex: 1;
 transition: .3s all ease;

}


.ejercicio:hover {
 flex: 2;
 background-color: rgb(192, 0, 0);

}

.actividades:hover {
 flex: 2;
 /* background-color: rgb(255, 0, 0);
 background-image: url(/Frontend/img/Mit\ Faszien-Yoga\ entspannt\ durch\ den\ Tag.jpeg); */
}

.alimentacion:hover {
 flex: 2;
 background-color: rgb(207, 207, 207);
}

.content:hover {
 opacity: 1;
}